[submodule "demo"]
	path = demo
	url = https://github.com/joaolucasbarboza/secure-password-backend.git
	branch = main
[submodule "securepassword"]
	path = securepassword
	url = https://github.com/joaolucasbarboza/secure-password-frontend.git
	branch = main
